@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #dddddd;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
}

.terminal-header {
    background-color: #333333;
    height: 50px;
    width: 100%;
    
}

.terminal-content {
    background-color: #222222;
    top: 50px;
    bottom: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.terminal-footer {
    background-color: #333333;
    height: 50px;
    width: 100%;
    
}